__pycache__
*.pyc
*.pyo
.eggs
.git
*.egg-info
*.csv
.config
.jupyter
*.pdf

Gemfile
Gemfile.lock
config/
Capfile
ipynb_projects/
notebooks/
.cache
*data/
*archive_models/
model_training/data/
model_training/archive_models/
