*.pdf
*.idea/
*.ipynb_checkpoints/
*.jupyter
stag_secrets.local.env
stag_secrets.aws-rds.env
stag_secrets.env
prod_secrets.env
key.properties
key.jks
__pycache__
.DS_Store
server/predictor/model_files/
model_training_pre_release/callbacks/
model_training_pre_release/data/
model_training_pre_release/dummy_data/
